*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgb(21, 26, 26);
}
.navbar {
    width: 100%;
    background-color: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding-bottom: 2px;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}


.image-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/07/56/money-2696229_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.content {
    min-height: calc(100vh - 70px); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


#add-lead-form
{
    border: 2px solid black;
    border-radius: 20px;
    max-width: 400px;
    width: 90%;
    padding: 30px;
    background-color: rgba(255,255,255,0.9);
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.2);
}
#add-lead-form input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#add-lead-head {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
button
{
    background-color: black;
    color: white;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
textarea,select
{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.9rem;
}
